html{
    scroll-behavior: smooth;
}
* {
    background-image: url(../darkimg.png);
    background-size: 1200px 900px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2px;
    background-color: black;
    background-attachment: fixed;
  }
  h1,h2,h3,h4,a{
      color: white;  
  }
  p{
      color: white;
      font-size: x-large;
  }
  .navbar{
    left: 900px;
    overflow: hidden;
    background-color:black;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
   text-decoration: black;
}
.navbar a:hover{
    background: black;
    color : burlywood;
}
.form textarea {
    color: white;
    width: 55%;
    height: 50%;
}
.form button {
    
    color: white;
    letter-spacing: 2px;
    background-color: brown;
}
.mapp pre{
    color: white;
    font-size: large;
}
