html{
    scroll-behavior: smooth;
}
* {
    background-image: url(../darkimg.png);
    background-size: 1200px 900px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2px;
    background-color: black;
    background-attachment: fixed;
  }
  h1,h2,h3,h4,a{
      color: white;  
  }
  p{
      color: white;
      font-size: x-large;

  }
  .navbar{
     left: 900px;
     overflow: hidden;
     background-color:black;
     position: fixed;
     top: 0;
     width: 100%;
 }
 .navbar a{
     float: left;
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
    
 }
 .navbar a:hover{
     background: black;
     color : burlywood;
 }
 
 
.main{
    color: white;

}
.column {
    float: left;
    width: 25%;
    padding: 20px;
    padding-left:70px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
    height: 250px;
    width: 300px;  
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .colum {
    float: right;
    width: 25%;
    padding: 20px;
    padding-left:10px;
  }